<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>POCRePack</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>EncodeSans-Bold.ttf</string>
		<string>EncodeSans-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
	</array>
	<key>RepackPublicKey</key>
	<string>
		MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA15CIZO7nZLh6Q0H8Dpm3
		yI0tUNZUlmzMaTprxcHt55MlNF1rpsG6uvRkmZyomRMkQenE9lU8vFqu+Ip5wSBy
		fzg9mQhkljAXKzG+eJiCw54BybONLY+RVF5tPtQwYeZ6SVuLJmcy9oWxQ1fdmpUB
		aOrm8RBV8X1MULjZCQns7NQd/SLOD7alXxaWu65fdwosgGr6YXqggu25ecKTKYzR
		4x2O5MYPeaINcdunx59w9XkIMyBzfdtaklbw8XTc+s3CzCEJrM0J1HR69j20x6e8
		SE1rQFNQUWRCkdHRPRmOW8S9jHDssL6OBIy/tCr6i4ODU/Lph1f69Q8oI5QX7fdq
		7PDcr9AfRSyu9bSHXTKxh9cGaVnyrtggp7VLt347jWHtSkuMy04iEdKifdCRxAUv
		mLamyTpBOUSfVrWcyyhtLolz9S/ziI168Hp1XZmnnDhnoDD0rJWmTaZWKhNnZ5Dh
		eGC3ZsCWUYfdYRs5amU8agmjiV9DCaI0tid9ZNO3YsIVa6F9gTzDGqnTolJ1nF2s
		wN0WKbfW7YqEELmwo0GZtvxtqQ8o984QYp6LH+U3epLOQs4ZCUjW3dig6zUqRB+z
		oPhsggb4zFEWkQYHMbvCnIK88oFO0KBQSBDxOm5C2A7BOSNFPqpdN//5OB7mfZvm
		CafjWrI01uolkZc1Ik+Ab3UCAwEAAQ==
	</string>
</dict>
</plist>
